<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Annuaire IUT Orléans</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header></header>
    <main>
        <div id="annuaire"></div>
        <section id="gestion">
            <h1>Annuaire IUT Orléans</h1>
            <section id="informations">
                <img src="/img/IUTO.png" alt="">
                <section id="info">

                        <p id="nom"></p>
                        <p id="titre"></p>
                        <p id="mail"></p>
                        <p id="tel"></p>
                        <p id="poste"></p>

                </section>

            </section>
            <section id="exports">
                <button class="export btn btn-info" data-format="svg">Export au format SVG</button>
                <button class="export btn btn-info" data-format="png">Export au format PNG</button>
            </section>

        </section>
    </main>

    <footer></footer>
    {{ annuaire | safe }}
    <script src="/js/export.js"></script>
</body>

</html>
