body{
    padding:0;
    margin:0;
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:5vh;
    margin-left:5vh;
}

label {
    font: 12px sans-serif;
}

.node circle {
    fill: #fff;
    stroke: #890363;
    stroke-width: 1.5px;
}

.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke:#eba8d8;
    stroke-width: 1.5px;
}


#gestion{
    position: absolute;
    right:-25%;
    top:5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:20%;
    border-radius: 15px;
    border:5px solid #890363;
    color:white;
    background-color: #890363;
    transition: all 750ms ease-in;
    padding-top:2vh;
    padding-bottom:2vh;
}

#gestion.showGestion{
    right:2%;
}

#gestion #exports{
    width:100%;
    display: flex;
    flex-direction: column;
}

#gestion #exports button{
    width:80%;
    margin:0 auto 1vh auto;
    background: white;
    color:black;
    border:none;
}

#gestion #exports button:hover{
    background: #5a0141;
    color:white;
}

h1{
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color:white;
}

#informations > img{
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 3px solid #890363;
    height:150px;
    max-width: 150px;
}

#info{
    width: 80%;
    height: 45vh;
    padding: 3vh 1vw;
    border-radius: 15px;
    border: 3px solid #890363;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background: white;
    color:black;
}
